# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/

# Chroma DB
chroma/

# Mac
.DS_Store

# VSCode
.vscode/

# other
readme_draft.txt
dry-run/
query copy.py
reranker copy.py
COPIES_OF_OLDER_VERSIONS/
faiss_stuff/